
@keyframes rotating2 /* Safari and Chrome */ {
  from {
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-1080deg);
    -o-transform: rotateY(-2160deg);
    transform: rotateY(-1080deg);
  }
}
.rotating2 {
  -webkit-animation: rotating2 2s   ;
  -moz-animation: rotating2 2s  ;
  -ms-animation: rotating2 2s ;
  -o-animation: rotating2 2s  ;
  animation: rotating2 2.5s ease-out ;

}



.viewport2 {
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -webkit-transform: scale(0.55,0.55);
    -moz-perspective: 800px;
    -moz-perspective-origin: 50% 200px;
    -moz-transform: scale(0.55,0.55);
    perspective: 1000px;
    perspective-origin: 50% 200px;
    transform: scale(0.4,0.4);
	
}

.cube2 {
    position: relative;
    margin: 0px auto 10px ;
    height: 400px;
    width: 400px;
    -webkit-transition: -webkit-transform 50ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg) rotateY(20deg);
    -moz-transition: -moz-transform 50ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(-10deg) rotateY(20deg);
    transition: transform 50ms linear;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
}

.cube2 h2 {
    color: #fff;
    padding-top: 0;
    margin-top: 0;
}

.cube2 a {
    color: #fff;
}

.cube2 > div {
    position: absolute;
    height: 400px;
    width: 400px;
   padding:10px ;
    background-color: rgba(50, 50, 50, 0.85);
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    border: 10px solid #fff;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #ff8800,
            0 0 0.8rem #ff8800,
            0 0 2.8rem #ff8800,
            inset 0 0 1.3rem #ff8800; 
    border-radius: 3px;
}

.cube2 > div:first-child  {
    -webkit-transform: rotateX(90deg) translateZ(200px);
    -moz-transform: rotateX(90deg) translateZ(200px);
    transform: rotateX(90deg) translateZ(200px);
}

.cube2 > div:nth-child(2) {
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    transform: translateZ(200px);
}

.cube2 > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(200px);
    -moz-transform: rotateY(90deg) translateZ(200px);
    transform: rotateY(90deg) translateZ(200px);
    text-align: center;
}

.cube2 > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(200px);
    -moz-transform: rotateY(180deg) translateZ(200px);
    transform: rotateY(180deg) translateZ(200px);
}

.cube2 > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(200px);
    -moz-transform: rotateY(-90deg) translateZ(200px);
    transform: rotateY(-90deg) translateZ(200px);
}

.cube2> div:nth-child(5) p {
    text-align: center;
    font-size: 2.77em;
    margin: 40px;
    line-height: 60px;
}

.cube2 > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}

object {
    opacity: 1;
}

object:hover {
    opacity: 1;
}


@media (min-width: 992px) { .viewport2{ transform: scale(0.5,0.5);} 
	.cube2{margin-top:100px}}