$logo-color-1: #fffefd;
$logo-color-2: #008069;
$button-bg-color: #008069;
$button-text-color:#fffefd;
$body-bg-color: #000;
$sidebar-bg-color: #000;
$logo-font:  'Montserrat', sans-serif;
$h1-font:  'Montserrat', sans-serif;
$h1-color: #fffefd;
$h2-font:  'Montserrat', sans-serif;
$h2-color: #fffefd;
$p-font:  'Montserrat', sans-serif;
$p-color: #fffefd;
$icons-color: #fffefd;
$link-color:#fffefd;
$divider-color:#fffefd;

 $color1:#EB5C52
423562

#8F87B5

#0D25B3

rgb(234,100,82)

rgb(60,101,210)
rgb(62,47,111)


rgb(240,240,240)
#F0F0F0